{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}
    <div class="container">
        {% for post in posts %}
            <article class="card mb-3 p-4" style="width: 30%; margin: auto auto">
                <h3 class="card-title">{{ post.title }}</h3>
                {% if post.userId %}
                    <p class="card-subtitle">Par: {{ post.userId.username }}</p>
                {% endif %}
                <p class="card-text">{{ post.content|u.truncate(45, '...', false)}}</p>

                <i>{{ post.createdAt|date('d-m-Y')  }}</i>
                <a href="{{ path('post', {'id': post.id}) }}">Detail</a>
            </article>
        {% endfor %}
    </div>
{% endblock %}
